
{% extends 'base.html' %}

{% load static %}
{% block body %}

{% if messages %}

{% for message in messages %}

<div class="alert alert-{{message.tags}} alert-primary alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


{% endfor %}
{% endif %}
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 mt-3">
<div class="card">
  <div class="card-body">
    
 
<form action="/login/" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username class="form-label">Username:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter name?" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password?">
  </div>
  
  <button type="submit" class="btn btn-primary">login</button>
</form>
</div>
</div>
</div>
<div class="col-sm-4"></div>
</div>
{% endblock %}
 